.counter-container {
    background-color: rgb(249, 125, 9);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 12px;
    width: 250px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#para {
    font-size: 1.25rem;
    font-weight: 600;
}

#btn {
    font-size: 0.9rem;
    text-align: center;
    color: #000000;
}